/**
 * @file 
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

a {
	text-decoration: none;
	color:#0084CB;
}

p {
	font-size:1em;
	color:#58595B;
}

body {
	font-family:$lato;
}

/* SECTION HEADER STYLES*/
h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size:1.33em;
}
/*FOOTER AND HEADER STYLES */

#footer, #header {
	background-color: #E2E1E9;
}

#footer div, #header div{
	display: inline-block;
	padding:0.5em;
	vertical-align: top;
	color:#808080;

}

#header .socialmedia {
	float:right;
}

#footer .socialmedia p, #header .socialmedia p {
	margin:0;
	padding:0.5em;
}

#footer .socialmedia a, #header .socialmedia a {
	padding-right:0.75em;
}

#footer .socialmedia .icons a, #header .socialmedia .icons a {
	padding-right:0.25em;
}

.socialmedia {
	position: relative;
    }

.newsbutton {
	@include regularfont;
	@include gclsbutton;
	width:150px;
	height: 28px;
	}

.nlink {
	display: inline-block;
	vertical-align: top;
}

.icons {
	display: inline-block;
	height:28px;
	padding-right: 10px;
}
	
.icons a {
     padding-right: 3px;
}

.logo {
	height:75px;
	padding-left: 1em;
	padding-top: 0.5em;
}

#header .catlinks {
	padding-left:8em;
	padding-top:2.5em;
}

.myaccount, .catsearch {
	@include gclsbutton;
	  
}

