/**
 * @file 
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

a {
	text-decoration: none;
	color:#0084CB;
}

/*FOOTER STYLES */

#footer {
	background-color: #E2E1E9;
}

#footer div{
	display: inline-block;
	padding:0.5em;
	vertical-align: top;
	color:#808080;

}

#footer .socialmedia p {
	margin:0;
	padding:0.5em;
}

#footer .socialmedia a {
	padding-right:0.75em;
}

#footer .socialmedia .icons a {
	padding-right:0.25em;
}

.socialmedia {
	position: relative;
    }

.newsbutton {
	@include regularfont;
	background-color: #0084CB;
	text-decoration: none;
	color: #fff;
	border:none;
	width:150px;
	height: 28px;
	cursor: pointer;
	}

.nlink {
	display: inline-block;
	vertical-align: top;
}

.icons {
	display: inline-block;
	height:28px;
	padding-right: 10px;
}
	
.icons a {
     padding-right: 3px;
}

.logo {
	height:75px;
	padding-left: 1em;
	padding-top: 0.5em;
}

